
body {
  font-family: "Montserrat", sans-serif;
  background-color: #e5e5e5;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  height: 1319px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-content-section {
  padding: 50px 90px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-bottom: 10px;
}

.about-me-profession {
  font-size: 14px;
  font-weight: 700px;
  color: #000;
  font-style: normal;
  font-weight: bold;
  line-height: 17px;
  margin-bottom: 20px;
}

.about-me-section-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
  color: #000;
}

.about-me-section-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.about-me-section {
  width: 400px;
  left: 498px;
  top: 142px;
}

/* projects */
.my-projects-section {
  margin-bottom: 50px;
}

.main-content-list {
  padding: 0 0 0 18px;
}

.my-projects-item {
  color: #000;
  font-weight: bold;
}

.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-projects-text-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

/*my-work-experience*/

.my-work-experience-color {
  color: #fb6d3a;
  margin: 0 0 10px 0;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin: 0 0 10px 0;
}
.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.divider {
  color: #000;
}
.company {
  margin: 0 0 50px 0;
}


.my-work-experience-duties {
  padding: 0 0 0 18px;
}
.my-work-experience-duties span{
  color: #000;
  font-weight: bold;
}

.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-Education {
  margin: 40px 0 0 0;
}

.my-Education-prof {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 10px 0;
}

.sidebar-section {
  background: #1e2939;
  color: #fff;
  width: 370px;
  padding: 40px 0px;
}
.contacts-section,
.Soft-Skills-section,
.Tech-Skills-section {
  margin-top: 50px;
  margin-left: 40px;
}

.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 7px;
}
.contacts-section-link {
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
.aside-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin: 8px;
}
.Tech-Skills-list {
  padding: 0 0 0 17px;
}
.Tech-Skills-item {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.Tech-Skills-list-text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.Soft-Skills-list {
  padding: 0 0 0 17px;
}
.Soft-Skills-item {
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}

.Soft-Skills-item-text {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
